.button {
    padding: 11px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--alt-bg);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    transition: .3s;
}

.button svg {
    display: inline-block;
    margin-left: 8px;
    transition: .2s;
}

.button-normal {
    background-color: var(--accent);
    color: var(--alt-text);
}

.button-normal svg {
    fill: var(--alt-text);
}

.button-transparent {
    border-color: var(--border-color);
    color: var(--default-text);
}

.button-transparent svg {
    fill: var(--default-text);
}

.button-normal .down,
.button-transparent .down {
    transform: rotate(90deg);
}

.button-normal:hover {
    border-color: var(--border-color);
    background-color: var(--alt-text);
    color: var(--accent);
}

.button-normal:hover svg {
    fill: var(--accent);
}

.button-transparent:hover {
    border-color: var(--accent);
    background-color: var(--accent);
    color: var(--alt-text);
}

.button-transparent:hover svg {
    fill: var(--alt-text);
}
